h2{
    height: 5rem;
    justify-content: center;
    line-height: 5rem;
    color: aliceblue;
    text-align: center;
    background-color: maroon;
}

.container{
    margin: 0%;
    padding: 0%;
    text-align: center;
}

#game{
    justify-content: center;
    text-align: center;
    height: 330px;
    width: 330px;
    margin-left: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.box{
    height: 100px;
    width: 100px;
    padding: 1px;
    margin: 2px;
    border-radius: 10px;
    border: none;
    background-color: tan;
    color:  rgb(128, 8, 8);
    text-align: center;
    /* text-wrap: wrap; */
    font-size: 60px;
}

.button{
    background-color: rgb(128, 8, 8);
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;  
}

#winner{
    color: tan;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}